<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
   
   <bean id="wmg" class="com.nit.beans.WishMessageGenerator"/>
   <bean id="wmg1" class="com.nit.beans.WishMessageGenerator"/>
   <bean id="p1" class="com.nit.beans.Printer" scope="singleton" factory-method="getInstance"/>
   <bean id="p2" class="com.nit.beans.Printer" scope="singleton" factory-method="getInstance"/>

   <!--  <bean id="p3" class="com.nit.beans.Printer" scope="prototype" factory-method="getInstance"/> -->
   <bean id="p3" class="com.nit.beans.Printer" scope="request" />
</beans>
