<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <!-- cfg java.util.Date class spring bean -->
 <bean id="dt" class="java.util.Date"/>
 
 <!--cfg WishMessageGenerator as Spring bean(target class)-->
<bean id="wishMessageGenerator" name="wmg,wmg1,wmg1" class="com.nit.beans.WishMessageGenerator">
   <property name="date" ref="dt"/>
 </bean>
  <alias name="wishMessageGenerator" alias="msg1"/>
  <alias name="wishMessageGenerator" alias="msg2"/>
  <alias name="wmg" alias="msg3"/>
  <alias name="wmg1" alias="msg4"/>
</beans>
